.layoutHome {
    max-width: 1350px;
    margin: 0 auto;
    position: relative;
}

.imageContainer {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 90vh;
    position: relative;
}

.dynamicImage {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
}

.titleContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1000px) {
    .titleContainer{
        top: 35%;
    }
    .title{
        font-size: 4vw;
    }
}

@media (max-width: 768px) {
    .titleContainer{
        top: 30%;
    }
    .title{
        font-size: 6vw;
    }
}

@media (max-width: 520px) {
    .titleContainer{
        top: 20%;
    }
    .title{
        font-size: 6vw;
    }

}