.header {
    position: fixed;
    top: 6%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 10;
    background: rgba(0, 21, 41, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.header.authenticated {
    max-width: 1200px;
}

.header.authenticated::after {
    content: none;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: white;
}

.logo {
    margin-top: 0.6rem;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.transparentButton {
    background: none;
    border: none;
    color: white;
    margin: 0 5px;
    font-size: 1em;
    padding: 5px 10px;
    white-space: nowrap;
}

.transparentButton:hover {
    color: #FFC700;
}

.companyName {
    font-size: 19px;
    font-weight: bold;
    white-space: nowrap;
    color: white;
}

.mobileMenu {
    display: none;
}

.burgerButton {
    font-size: 20px;
    color: white;
}

.drawerMenu {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.drawerButton {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    border: none;
    background: none;
    transition: color 0.3s;
    display: block;
}

.drawerButton:hover {
    color: #FFC700;
    cursor: pointer;
}


@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .mobileMenu {
        display: flex;
    }

    .companyName {
        display: none;
    }

    .logo {
        margin-left: -10px;
    }
}

@media (max-width: 1000px) {
    .companyName {
       display: none;
    }

}

@media (max-width: 400px) {
    .logo {
        margin-left: -20px;
        max-width: 80px;
    }

    .burgerButton {
        margin-right: -20px;
    }
}